@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/styles.css */
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

.bg-flag {
  background-image: linear-gradient(90deg, #d6cc0c 50%, #f42a41 50%),
    radial-gradient(circle at center, #f42a41 0%, #f42a41 20%, transparent 20%);
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* Banner Icons Style */
.footerIcons {
  transition: 0.5s;
}
.footerIcons:hover {
  transform: translateY(-20px);
}

/*///////////////////////////////////// THEME - 2 /////////////////////////////////////*/
.theme-bg-or-font-style {
  background-color: #1b130c;
  font-family: font-libre;
}
.text-color {
  color: #feebd6;
}
.description {
  color: #d1d5db;
}
.dynamic-btn {
  background-color: #f9c302;
  color: #201700;
}
.border-color {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: #feebd6;
}
.product-card {
  background: transparent;
}

.header {
  color: black;
  background: linear-gradient(to right, #11191b, #a16207, #200c11);
}
.menu-btn {
  color: #9ca3af;
}
.menu-btn:hover {
  color: white;
  background-color: #374151;
}
.menu-btn:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px white;
}
.nav-active-color {
  color: #f42a41;
}
.nav-pending-color {
  color: #feebd6;
}
.cart-icon-color {
  color: #feebd6;
}

.input-border {
  border: 1px solid #feebd6;
}
.input-text {
  color: #d1d5db;
}

.footer-bg {
  background: linear-gradient(to right, #200c11, #a16207, #200c11);
}
.header-title {
  color: #fcfcfc;
}

.nav-link {
  color: #d1d5db;
  text-decoration: none;
}
.nav-link:hover {
  color: #eab308;
  text-decoration: underline;
}
