@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

/* .bg-flag {
  background-image: linear-gradient(90deg, #006a4e 50%, #f42a41 50%),
    radial-gradient(circle at center, #f42a41 0%, #f42a41 20%, transparent 20%);
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
} */

/* Banner Icons Style */
.footerIcons {
  transition: 0.5s;
}
.footerIcons:hover {
  transform: translateY(-20px);
}
